{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="{%static 'N.png'%}" type="image/x-icon">
      <link rel="stylesheet" href="{%static 'css/style.css'%}">
      <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
      <link rel="stylesheet" href="{%static 'css/fontello.css'%}">
      <title>Nikoserwis</title>
</head>
<body>
  

  <header>
    <div class="header-content">
      <div class="row">
        <div class="col-sm-12 col-lg-4 some">
          <img src="{%static 'zyro-image.png'%}" alt="logo" class="logo">
        </div>
        <div class="col-sm-12 col-lg-4 t1 text-center text-white mb-4">
          <h1 class="krzywy-tekst">Witamy na naszej stronie głównej</h1>
        </div>

        <div class="col-sm-12 col-lg-4">
          <div class="row">
            <div class="col-sm-12 col-lg-6">
              <div class="btn-group-vertical b-btns d-flex justify-content-end text-center ">
                <a href="{%url 'main_page'%}" class="btn btn-lg mb-2 text-white btn-itd">Wiadomości</a>
                <a href="{%url 'o_nas'%}" class="btn btn-lg mb-2 text-white btn-itd">O nas</a>
                <a href="{%url 'uslugi'%}" class="btn btn-lg mb-2 text-white btn-itd">Usługi</a>
                <a href="{%url 'promocje'%}" class="btn btn-lg mb-2 text-white btn-itd">Promocje</a>
                <a href="{%url 'humor'%}" class="btn btn-lg mb-2 text-white btn-itd">Humor</a>
                <a href="#footer" class="btn btn-lg mb-2 text-white btn-itd">Kontakt</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  

  <section class="news">
    <div class="container">
      <div class="row">
        {%for inf in news%}
        <div class="col-md-6">
          <div class="news-item">
            {%if inf.img%}
            <img src="{{inf.img.url}}" alt="News Image" class="news-image">
            {%endif%}
            {%if inf.header%}
            <h3 class="news-title">{{inf.header}}</h3>
            {%endif%}
            <p class="news-date">{{inf.date}}</p>
            {%if inf.desc%}
            <p class="news-description">{{inf.desc}}</p>
            {%endif%}
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </section> 
  
  <div class="modal" id="photoAlbum">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Photo Album</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="album-photos">
            <!-- Images will be loaded here -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="prevPhoto">Previous</button>
          <button type="button" class="btn btn-primary" id="nextPhoto">Next</button>
        </div>
      </div>
    </div>
  </div>

  <footer  class="bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="contact-info">
            <div class="bgc">
              <div class="btn btn-lg btn-rst">
                <a href="tel:+48691407374"><i class="number icon-phone m-2"></i></a>
                <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcRwPxNvZdBDCTKWgLVbWrrDCrclBGCmgszNqhXqKslKQrWpqtLqfMLLVxpVTTLNLFjTrbGCM"><i class="number icon-mail m-2"></a></i></a>
                <a href="https://www.facebook.com/NikoSerwis23/"><i class="number icon-facebook m-2"></i></a>
                <a href="https://instagram.com/nikoserwis?igshid=MzRlODBiNWFlZA=="><i class="number icon-instagram m-2"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div id="footer" class="col-md-6" style="margin-bottom: 20px; margin-top: 20px;">
          <div class="map-div d-flex justify-content-center">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2561.915607429088!2d18.594059699999995!3d50.0504122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47114dcf5939cbc3%3A0x61a32faf3cd289e0!2sNikoserwis!5e0!3m2!1suk!2spl!4v1691093140425!5m2!1suk!2spl&" width="800px" height="320px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="col-md-2">
          <div class="bgc d-flex justify-content-center">
            <h3 class="text-center">Umów wizytę <a href="{%url 'rejestracja'%}">tutaj</a></h3>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="modal fade" id="cookieAcceptModal" tabindex="-1" role="dialog" aria-labelledby="cookieAcceptModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cookieAcceptModalLabel">Pliki cookie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Ta strona wykorzystuje pliki cookie w celu poprawy jakości usług. Korzystając z niej, akceptujesz naszą 
            <a href="{%url 'polityka'%}">Politykę Prywatności</a>.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="rejectCookieBtn">Odrzuć</button>
          <button type="button" class="btn btn-primary" id="acceptCookieBtn">Akceptuj</button>
        </div>
      </div>
    </div>
  </div>
  



  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <script>
    $(document).ready(function() {
      var cookieAccepted = localStorage.getItem("cookieAccepted");
  
      if (!cookieAccepted) {
        $("#cookieAcceptModal").modal("show");
      }
  
      $("#acceptCookieBtn").click(function() {
        localStorage.setItem("cookieAccepted", "true");
        $("#cookieAcceptModal").modal("hide");
      });
  
      $("#rejectCookieBtn").click(function() {
        $("#cookieAcceptModal").modal("hide");
      });
    });
  </script>
  
  <style>
    #cookieAcceptModal .modal-header .close {
      display: none;
    }
  </style>
  <script>
    $(document).ready(function () {
      $(".news-image").click(function () {
        // Retrieve additional photos from the database (you'll need server-side code for this).
        // For this example, we'll assume you have an array of image URLs.
        var additionalPhotos = [
          "image1.jpg",
          "image2.jpg",
          "image3.jpg",
        ];
  
        // Populate the modal with the additional photos.
        var $albumPhotos = $(".album-photos");
        $albumPhotos.empty();
        $.each(additionalPhotos, function (index, imgUrl) {
          $albumPhotos.append('<img src="' + imgUrl + '">');
        });
  
        // Show the modal
        $("#photoAlbum").modal("show");
      });
  
      // Handle navigation within the photo album
      $("#nextPhoto").click(function () {
        // Implement logic to show the next photo
      });
  
      $("#prevPhoto").click(function () {
        // Implement logic to show the previous photo
      });
    });
  </script>
  
</body>
</html>